*
!/example01/reference/
!/example01/reference/*
!/example01/reference/*/*
!/example01_sym/reference/
!/example01_sym/reference/*
!/example01_sym/reference/*/*
!/example02/reference/
!/example02/reference/*
!/example02/reference/*/*
!/example03/reference/
!/example03/reference/*
!/example03/reference/*/*
!/example04/reference/
!/example04/reference/*
!/example04/reference/*/*
!/example05/reference/
!/example05/reference/*
!/example05/reference/*/*
!/example_model_screening/
!/example_model_screening/reference/
!/example_model_screening/reference/*
!/example_model_screening/reference/*/*
!run_example
!*in
!*ref
!*.sh
!*.upf
!README
